<div class="card m-5 p-2 text-center mx-auto" style="width: 40%; ">
  <div class="card-body">
      <h4 class="card-title"><b>Sign up with FlipOn</b></h4>
          <form>
          <p> <input type="text" style="width: 75%; border: none; border-bottom: 1px solid #eb445a;" name="name" placeholder="Full Name" required="true"> </p>
          <p> <input type="email" style="width: 75%; border: none; border-bottom: 1px solid #eb445a;" name="email" placeholder="Email" required="true"> </p>
          <p> <input type="password" style="width: 75%; border: none; border-bottom: 1px solid #eb445a ;"name="psw" placeholder="Password" required="true"> </p>
          <p> <input type="number" style="width: 75%; border: none; border-bottom: 1px solid #eb445a ;"name="phone" placeholder="Mobile Number" required="true"> </p>
          <button type="submit" class="btn btn-danger " (click)="f2()" routerLink="/home">Create Account</button><p></p>
          Already have an account? <a href="#" style = "font-size: 15; color: #326a9e; "  routerLink="/login"> Sign in</a>
          </form>
  </div>
</div>
