
<!-- List of Text Items -->

<ion-header>
  <ion-toolbar class="m-1 p-1">
    <ion-title style="text-align: center; color: rgb(235, 75, 83); font-size: xx-large;"><b>Order History</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row >
    <ion-col   >

            <div class = "card m-5 p-2 mx-auto" style="box-shadow: 2px 1px #888888; padding: 2%; margin: 3%;" *ngFor="let card of cardContent">
              <ion-row>
               <ion-col size="3">
               <img [src]="card.imageSource"  class="card-img-top img-fluid" >
               </ion-col>

               <ion-col size="4" style=" padding-left: 5%; ;">
                <h2 style="font-size:larger;">{{card['title']}}</h2>
                <p  >{{card.content}} <p>
                  <br>
                  <h2 style="font-size:larger ">Ordered <span style="color:rgb(32, 117, 196);">(Delivered) </span> </h2>
                </ion-col>

                <ion-col size="2"  >
                  <h2 style=" font-size:larger;color: gray;"> Quantity: 1</h2>

                </ion-col>

                <ion-col size="2"  >
                  <h2 style=" font-size:x-large;">Rs. {{card.price}}</h2>
                  <p style="color: gray; font-size: small;">(Inclusive of all taxes) <p>
                    <br>
                    <button type="button" class="btn btn-danger " style="position: absolute; " routerLink="/complaint" >Generate Complaint</button>
                </ion-col>
              </ion-row>
            </div>








    </ion-col>


  </ion-row>


</ion-grid>


