
<!-- List of Text Items -->

<ion-grid>

  <ion-row>
    <ion-col>
      <div style="padding:2%; padding-bottom: 0%; font-size:xx-large; font-weight: bolder; font:900; margin-left: 3%; " >
      Order History
      </div>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col   >

            <div style="border:gray; border-style: ridge; border-width: 2px; padding: 2%; margin: 3%;">
              <ion-row>

               <ion-col size="4">
               <img src="../../assets/i1.jpg"  class="card-img-top img-fluid" >
               </ion-col>

               <ion-col size="4" style=" padding-left: 5%; ;">
                  <h2 style="font-family:cursive;font-size:x-large;">Formals-1</h2>
                  <p style="color: gray; font-family: cursive;font-size:x-large;">Color: Red <p>
                  <br>
                  <h2 style="font-family:cursive;font-size:larger ">Ordered <span style="color:cyan;">(Expected delivery by tomorrow)  </span> </h2>
                </ion-col>

                <ion-col size="2"  >
                  <h2 style="font-family:cursive; font-size:larger;color: gray;"> Quantity: 1</h2>

                </ion-col>

                <ion-col size="2"  >
                  <h2 style="font-family:cursive; font-size:x-large;">Rs. 2,000</h2>
                  <p style="color: gray; font-size: small;font-family: cursive;">(Inclusive of all taxes) <p>
                    <br>
                    <button type="button" class="btn btn-primary " style="position: absolute; "  >Track Delivery</button>
                </ion-col>
              </ion-row>
            </div>

            <div style="border:gray; border-style: ridge; border-width: 2px; padding: 2%; margin: 3%;">
              <ion-row>

               <ion-col size="4">
               <img src="../../assets/i1.jpg"  class="card-img-top img-fluid" >
               </ion-col>

               <ion-col size="4" style=" padding-left: 5%; ;">
                  <h2 style="font-family:cursive;font-size:x-large;">Formals-2</h2>
                  <p style="color: gray; font-family: cursive;font-size:x-large;">Color: Red <p>
                  <br>
                  <h2 style="font-family:cursive;font-size:larger ">Ordered <span style="color:cyan;">(Delivered)  </span> </h2>
                </ion-col>

                <ion-col size="2"  >
                  <h2 style="font-family:cursive; font-size:larger;color: gray;"> Quantity: 1</h2>

                </ion-col>

                <ion-col size="2"  >
                  <h2 style="font-family:cursive; font-size:x-large;">Rs. 2,000</h2>
                  <p style="color: gray; font-size: small;font-family: cursive;">(Inclusive of all taxes) <p>
                    <br>
                    <button type="button" class="btn btn-danger " style="position: absolute; " >Generate Complaint</button>
                </ion-col>
              </ion-row>
            </div>

            <div>

            </div>

            <br>
            <br>

    </ion-col>


  </ion-row>


</ion-grid>


