
<ion-header>
  <ion-toolbar class="m-1 p-1">
    <ion-title style="text-align: center; color: rgb(235, 75, 83); font-size: xx-large;"><b>Women</b></ion-title>
  </ion-toolbar>
</ion-header>


       <!-- <div class="container"> -->
<div class="row mt-1 mx-5">
  <div class="col-lg-3 my-3 mx-5 pb-3"   style="text-align:center; box-shadow: 2px 2px 2px 2px #888888;" *ngFor="let card of cardContent">

    <app-card [imageSource]="card.imageSource" [price]=card.price (click)="search(card.imageSource)" routerLink="/product-details" [title]="card.title" [content]="card.content" [numberOfFullStars]=card.stars class="hover-overlay"></app-card>

    <a style="color: white;" *ngIf="adminService.admin"  (click)="showAlert()" (click)="
    add_to_cart(card.content,card.title,card.price,card.imageSource)"class="btn btn-danger">Add to Cart</a>

    <a style="color: white;"  *ngIf="!adminService.admin"   routerLink="/login"  class="btn btn-danger">Add to Cart</a>

  </div>
</div>
       <!-- </div> -->
