<ion-header overflow-scroll="true">
  <ion-toolbar>
    <ion-title style="text-align: center; color: rgb(235, 75, 83);"><b>CHANGE PASSWORD</b></ion-title>
  </ion-toolbar>
</ion-header>


  <div class="card p-2 m-5 mx-auto text-center" style="width: 40%; box-shadow: 2px 1px #888888;">
    <div class="card-body">
        <h4 class="card-title"><b>My Profile</b></h4>
        <form #form ngNativeValidate>
            <p> <input type="email" style="width: 75%;font-weight: bolder; border: none; border-bottom: 1px solid #eb445a;" name="email"  value={{this.adminService.id_val}} required> </p>
            <p> <input type="password" style="width: 75%; border: none; border-bottom: 1px solid #eb445a;" name="oldPass" placeholder="Old Password"  [(ngModel)]="oldPass" required> </p>
            <p> <input type="password" style="width: 75%; border: none; border-bottom: 1px solid #eb445a;" placeholder="New Password" name="newPass" required [(ngModel)]="newPass"> </p>
            <p> <input type="password" style="width: 75%; border: none; border-bottom: 1px solid #eb445a;" name="confirmPass" placeholder="Confirm New Password" [(ngModel)]="confirmPass" required> </p>
            <button type="submit" class="btn btn-danger" (click)="form.checkValidity()? changePassword(): null" >Change Password</button><p></p>
          </form>
      </div>
  </div>

