<ion-header>
  <ion-toolbar class="m-1 p-1">
    <ion-title style="text-align: center; color: rgb(235, 75, 83); font-size: xx-large;"><b>The Fortune Spin Wheel</b></ion-title>
  </ion-toolbar>
</ion-header>

<h3 class="mt-3"><b>Press the wheel to land on a random Prize</b></h3>
<div style="text-align: center;" class="mb-4">
<ngx-wheel
  #wheel
  [width]= '400'
  [height]= '400'
  [spinDuration]= '8'
  [items]='items'
  [innerRadius]='20'
  [spinAmount]='10'
  [disableSpinOnClick]="check_and_run"
  [textOrientation]='textOrientation'
  [textAlignment]='textAlignment'
  pointerStrokeColor='yellow'
  pointerFillColor='blue'
  [idToLandOn]='idToLandOn'
  (onSpinStart)='before()'
  (onSpinComplete)='after()'
></ngx-wheel>
</div>
