

  <div class="row">
      <div class="col p-0 ">
          <img [src]="imageSource" style="max-width: 300px; max-height: 400px;" >
          <div class="pt-3" >
              <span class=""  style="font-size: 24px; font-family: Arial, Helvetica, sans-serif;">{{title}}</span>
              <br/>
              <span>{{content}}</span>
              <br/>
              <span>Rs.{{price}}/-</span>
              <br/>
              <p *ngFor="let fullStar of fullStars" class="fa fa-star checked"></p>
              <p *ngFor="let fullStar of emptyStars" class="fa fa-star empty"></p>
              <!-- <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star c1"></span>
              <span class="fa fa-star c1"></span> -->
          </div>
      </div>
    </div>


