
<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-3 mx-7 my-0">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="pull-left col-lg-4 col-md-12 mb-2 mb-md-0 text-left">
        <h3><b>FlipOn</b></h3>

        <p>
          Made with &#10084;&#65039; <br> - Kkft9, Chunni & ST24
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled mb-0 text-left">
          <li>
            <a href="/home" class="text-dark">Home</a>
          </li>
          <li>
            <a href="/men" class="text-dark">Men</a>
          </li>
          <li>
            <a href="/women" class="text-dark">Women</a>
          </li>
          <li>
            <a href="/watches" class="text-dark">Watches</a>
          </li>
          <li>
              <a href="/offers" class="text-dark">Offers</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-left">

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Search</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Privacy Policy</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Terms & Conditions</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Return & Refunds</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
          <form action = "">
              <p class="pt-2 text-uppercase"><strong>Newsletter</strong></p>
              <div class="input-group mb-4 pull-right">
                  <input type="email" id="form5Example2" class="form-control" placeholder="Email address">
                  <button type="submit" class="btn btn-danger mx-1 mb-4">Subscribe</button>
              </div>
          </form>
      </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1 m-0" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


