<div class="container">
  <div class="row m-4">
    <div class ="col-6">

        <div class="m-5 p-2 text-center mx-auto" style="width: 100%; ">

        <h2  style=" font-size:40px;  margin-left: 20% ;font-family:   'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >Submit a complaint</h2>
        <div class="card-body" >
        <!-- <h2 class="card-title mt-2 mb-3"><b>Submit a complaint</b></h2> -->
        <p> <input type="name" style="width: 120%; border: none; border-bottom: 1px solid #eb445a;" name="name" placeholder="Enter your name"  required> </p>

        <p> <input type="email" style="width: 120%; border: none; border-bottom: 1px solid #eb445a;" name="email" placeholder="Enter your email"  required> </p>
        <textarea style="width: 120%; height: 150px; border:  1px solid #eb445a ;"placeholder="Details of the complaint" id="subject" name="subject"  ></textarea>


        <br> <br><button style=" margin-left: 20%"type="submit" routerLink="/home" class="btn btn-danger" >Submit</button><p></p>

    </div>
    </div>
    </div>
    <div class ="col-6">
      <img src="//media.getsitecontrol.com/prod2/images/3130/50e56bbf7e5d9241fbb549193cf44ad4_156785403.svg" class="getsitecontrol-image" style="position: absolute !important; object-fit: cover !important; object-position: 0% 50% !important;  bottom: 0px !important; width: 525px !important; height: 100% !important;">

</div>


</div>


